<%- include('partials/header_nav') -%>

<body class="body-bg container min-vh-100 text-color d-flex flex-column">
  <div class="row mt-5">
      <div class="col-md-6">
          <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <a href="/logout" class="btn btn-primary btn-profile">Logout</a>
          </div>
          <div class="mt-4">
            <h2>Add an entry</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date" name="date">
              </div>
              <div class="mb-3">
                <fieldset>
                  <legend>How are you feeling today?</legend>
                  <div>
                    <input type="checkbox" id="happy" name="happy" value="Happy" />
                    <label for="happy">Happy</label>
                  </div>
                  <div>
                    <input type="checkbox" id="sad" name="sad" value="Sad" />
                    <label for="sad">Sad</label>
                  </div>
                  <div>
                    <input type="checkbox" id="angry" name="angry" value="Angry" />
                    <label for="angry">Angry</label>
                  </div>
                  <div>
                    <input type="checkbox" id="stressed" name="stressed" value="Stressed" />
                    <label for="stressed">Stressed</label>
                  </div>
                  <div>
                    <input type="checkbox" id="anxious" name="anxious" value="Anxious" />
                    <label for="anxious">Anxious</label>
                  </div>
                  <div>
                    <input type="checkbox" id="excited" name="excited" value="Excited" />
                    <label for="excited">Excited</label>
                  </div>
                  <div>
                    <input type="checkbox" id="neutral" name="neutral" value="Neutral" />
                    <label for="neutral">Neutral</label>
                  </div>
                  <div>
                    <input type="checkbox" id="tired" name="tired" value="Tired" />
                    <label for="tired">Tired</label>
                  </div>
                </fieldset>
                  
              </div>
              <div class="mb-3">
                <label for="grateful" class="form-label">What are your grateful for today?</label>
                <textarea class="form-control" id="grateful" name="grateful"></textarea>
            </div>
            <div class="mb-3">
              <label for="looking-forward" class="form-label">What are your looking forward to?</label>
              <textarea class="form-control" id="looking-forward" name="looking_forward"></textarea>
          </div>
          <div class="pb-3">             
             <button type="submit" class="btn btn-primary btn-profile" value="Upload">Submit</button>
          </div>
            </form>
          </div>
      </div>
      <div class="col-md-6 text-center">
        <h3>Current Week Entries: <br><%=moment().day(1).format('MMM Do')%> - <%=moment().day(7).format('MMM Do')%></h3>
        <ul class="list-unstyled row">
          <% for(var i=0; i<posts.length; i++) {%>
            <%if(posts[i].user == user.id){ %>
            <li class="mt-3 col-3 col-md-12">
              <a class="text-decoration-none text-color" href="/post/<%= posts[i]._id%>">
                <span><%=moment.utc(posts[i].date).format('Do MMM, YYYY') %></span>
              </a>
            </li>
            <%}%>
          <% } %>
          </ul>
        <div class="pb-3">
          <a class="btn btn-primary btn-profile" href="/feed">View all Entries</a>
        </div>  
      </div>  
    </div>
  </body>

<%- include('partials/footer') -%>